@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: #ffd9aa;
  --background-end-rgb: #f78e74;
  -webkit-scrollbar {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  overflow: hidden;
}
main {
  background: linear-gradient(to bottom, transparent, var(--background-end-rgb))
    var(--background-start-rgb);
}
.section-flat {
  background-color: var(--background-end-rgb);
}
.section-odd {
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-start-rgb)
    )
    var(--background-end-rgb);
}
.section-even {
  background: linear-gradient(to bottom, transparent, var(--background-end-rgb))
    var(--background-start-rgb);
}
.scroll-container {
  overflow-y: auto;
  height: 100vh;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}
